@{
    ViewData["Title"] = "Expenses";
}

@model List<Expense>

<div class="text-center">
    <h1 class="display-4">Expenses</h1>
    <br />
    <div class="d-flex justify-content-end">
        <a asp-controller="MoneyTracker" asp-action="CreateEditExpense" class="btn btn-primary">
            Create New
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Value
                </th>
                <th>
                    Description
                </th>
                <th>
                    Actions
                </th>
            </tr>

        </thead>

        <tbody>
            
        </tbody>
    </table>
</div>